
*.user*
*.autosave
build-pid-Desktop_Qt_5_12_3_MSVC2015_64bit-Debug/Makefile
*.Debug
*.Release
*.pdb
moc_*
build-pid-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/Makefile
*.stash
*.o
*.exe
*.obj
ui_*
build-pid-Desktop_Qt_5_13_0_GCC_64bit-Debug/Makefile

build-pid-Desktop_Qt_5_13_0_GCC_64bit-Release/Makefile
